# MySQL Configuration
MYSQL_HOST=127.0.0.1
MYSQL_DATABASE=internship_auth
MYSQL_USERNAME=root
MYSQL_PASSWORD=

# Redis Configuration
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

# MongoDB Configuration
MONGO_URI=mongodb://127.0.0.1:27017
MONGO_DATABASE=internship_app
